@model RoleVM
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-3">@Model.Name Details</h1>

<partial name="PartialView/DetailsDeletePartialView"></partial>


<a asp-action="Edit" class="btn btn-primary mt-3" asp-route-id="@Model.Id">Edit</a>
<a asp-action="Index" class="btn btn-secondary mt-3">Back To List</a>

