
@{
    ViewData["Title"] = "CheckInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-w3layouts wrapper rounded">
	<div class="main-agileinfo">
		<div class="agileits-top ">

		<p>Check Your Inbox</p>
		</div>
	</div>
</div>

 